<div class="flex items-center gap-x-5">
   <img class="border p-1 rounded w-20 h-20 sm:w-28 sm:h-28 object-cover" src="https://placeimg.com/112/112/fashion" alt="product" />
   <!-- Description -->
   <div class="flex-1 space-y-4">
      <a href="product.html" class="font-medium transition border-b border-transparent hover:border-gray-300">Basic white t-shirt</a>
      <div class="flex flex-wrap justify-between">
         <span class="text-2xl text-gray-500">$17.99</span>
         <div class="flex">
            <div class="rounded-l leading-8 px-3 border border-r-0 hover:bg-gray-50 cursor-pointer">-</div>
            <input class="text-center rounedd outline-none border w-12 leading-8 px-2" value="999" maxlength="3" type="text" />
            <div class="rounded-r leading-8 px-3 border border-l-0 hover:bg-gray-50 cursor-pointer">+</div>
         </div>
      </div>
   </div>
</div>
