<header class="container mx-auto">
   <nav class="h-16 border-b flex items-center">
      <!-- Logo -->
      <a href="/" class="flex">
         <img src="assets/logo.png" alt="Ukraine" />
         <span class="leading-8 ml-3 font-medium">Все буде Україна</span>
      </a>
      <div class="ml-20 flex gap-4 font-medium text-sm">
         <a href="/">Home</a>
         <a href="catalog.html">Catalog</a>
      </div>
      <div class="w-[540px] h-full flex mx-8 bg-gray-50">
         <input class="w-full outline-none bg-transparent  px-8" type="text" placeholder="Search">
      </div>
      <!-- Account & Cart -->
      <div class="ml-auto flex">
         <!-- Cart button -->
         <a href="cart.html" class="flex w-16 h-16 hover:bg-gray-50 border-b border-r">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-auto text-gray-500" viewBox="0 0 24 24"
               stroke="currentColor" fill="none" stroke-width="2">
               <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
            </svg>
         </a>
         <!-- Account button -->
         <a href="sign.html" class="flex w-16 h-16 border-b hover:bg-gray-50">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 m-auto" fill="none" viewBox="0 0 24 24"
               stroke="currentColor" stroke-width="2">
               <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
            </button>
      </div>
   </nav>
</header>